.movie-img-selected {
    width: 175px;
    height: 225px;
}

.movie-text-selected {
    color: var(--secondary-color);
}

.movie-img {
    width: 150px;
    height: 200px;
}

.movie-text {
    color: var(--quaternary-color);
}