<div class="d-flex flex-row align-items-center menu-container">
    <div class="flex-fill title">SmartStreamer</div>
    <div class="d-flex flex-row align-items-center flex-fill">
        <div class="flex-fill"><a class="menu-button menu-link" routerLink='/home' routerLinkActive="active">Home</a></div>
        <div class="flex-fill"><a class="menu-button menu-link">Movies</a></div>
        <div class="flex-fill"><a class="menu-button menu-link">Tv Shows</a></div>
        <div class="flex-fill"><a class="menu-button menu-link">Upcoming</a></div>
    </div>
    <div class="flex-fill text-right menu-button menu-link">search</div>
</div>
